<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>
{{ bootstrap.load_css() }}

    <!-- Custom styles for this template -->
      
    <link href="/static/sticky-footer.css" rel="stylesheet">
      <link href="/static/signin.css" rel="stylesheet">
      <link href="/static/style.css" rel="stylesheet">
      
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
        {% block header %}{% endblock %}
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        
    {% endfor %}
    
  {% endif %}
{% endwith %}
        {% from 'bootstrap/form.html' import render_form %}
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; 2019 Curva Tech Ltd</span>
      </div>
    </footer>
      {{ bootstrap.load_js() }}
      
  </body>
</html>
